<p id="notice"><%= notice %></p>
<%= render "layouts/breadcrumb" %>
<ul class="breadcrumb">
  <li><%= link_to "Products",categories_path %> <span class="divider">/</span></li>
  <li><%= link_to @type.category.title,category_path(@type.category) %> <span class="divider">/</span></li>
  <li class="active"><%= @type.name %></a> <span class="divider">/</span></li>
</ul>



<div class="productCate conA">
     <% if products=@type.products %>
	<%= render products %>
     <% end %>
</div>


