<p id="notice"><%= notice %></p>
<ul class="breadcrumb">
<% @categories.each do |category| %>
  <li><%= link_to category.title, category_path(category) %><span class="divider">/</span></li>

<% end %>
</ul>
<ul class="breadcrumb">
  <li><%= link_to "Products",categories_path %> <span class="divider">/</span></li>
  <li><%= link_to @type.category.title,category_path(@type.category) %> <span class="divider">/</span></li>
  <li class="active"><%= @type.name %></a> <span class="divider">/</span></li>
</ul>



<div class="productCate conA">
     <% if products=@type.products %>
	<% products.each do |product| %>
        <dl>
	<dt>
	  <%= image_tag product.image.url(:thumb) %>
	</dt>
	<dd>
	<p><b><%= link_to product.name, type_product_path(@type,product) %></b></p>
	<%= product.description %>
	</dd>
	<span class="view_details" >
	  <%= link_to "View details",type_product_path(@type,product) %>
	</span>
	</dl>
	<% end %>
	
        <% end %>
	

</div>


