<!DOCTYPE html>
<html>
<head>
  <title>Roadhost</title>
  <%= stylesheet_link_tag  "bootstrap","application" %>
  <%= javascript_include_tag "jquery-1.7.2.js","rails","bootstrap","bootstrap-popover","bootstrap-tooltip","jquery.vticker-min.js","jquery.jcarousel.min.js","slider","application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="container">
<%= render "layouts/nav" %>
<%= render "layouts/slide" %>
<%= yield %>
<%= render 'layouts/footer'%>
</div>
<div style="position:relative;top:100px;">
<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
